<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Bars Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bar.css') }}">
    <!--// Bars Css -->
    <!-- Common Css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style4.css') }}">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->


    <!--my-Style-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--//my-Style-->

    <!--image-download-->
    <script>
        function postDownloadImage() {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp = new XMLHttpRequest();
            }
            else {
                // IE6, IE5 浏览器执行代码
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == (200 || 304)) {
                    imgDown = document.getElementById("download-image");
                    imgDown.style.width = document.getElementById("upload-image").style.width;
                    imgDown.style.height = document.getElementById("upload-image").style.height;
                    imgDown.src = xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "/imgDownload", true);
            xmlhttp.send();
            imgAdaptive(document.getElementById("download-image"));
        }

        function imgAdaptive(obj) {
            parent = obj.parentNode;
            imgW = obj.width;
            imgH = obj.height;
            imgP = imgW / imgH;
            parW = parent.offsetWidth;
            parH = parent.offsetHeight;
            parP = parW / parH;
            if (imgP > parP) {
                obj.style.width = "100%";
                obj.style.height = "auto";
            }
            else {
                obj.style.width = "auto";
                obj.style.height = "100%";
            }
        }


        window.onload = function () {
            var img = document.getElementsByClassName("adaptiveImg");
            for (var i = 0; i < img.length; i++) {
               imgAdaptive(img[i]); 
            }
        }
    </script>
    <!--//image-download-->
</head>

<body>
    <div class="se-pre-con"></div>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="index.html">Intel-fpga</a>
                </h1>
                <span>Intel</span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="index.html">
                        <i class="fas fa-th-large"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="charts.html">
                        <i class="fas fa-chart-pie"></i>
                        Charts
                    </a>
                </li>
                <li>
                    <a href="grids.html">
                        <i class="fas fa-th"></i>
                        Grid Layouts
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <!-- Search-from -->
                    <form action="#" method="post" class="form-inline mx-auto search-form">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            required="">
                        <button class="btn btn-style my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <!--// Search-from -->
                    <ul class="top-icons-agileits-w3layouts float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">
                                    <div class="profile-l align-self-center">
                                        <img src="images/profile.jpg" class="img-fluid mb-3" alt="Responsive image">
                                    </div>
                                    <div class="profile-r align-self-center">
                                        <h3 class="sub-title-w3-agileits">Will Smith</h3>
                                        <a href="mailto:info@example.com">info@example.com</a>
                                    </div>
                                </div>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-user mr-3"></i>My Profile
                                    </h4>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="login.html">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->
            <div class="container-fluid">
                <div class="row">
                    <!-- img-select -->
                    <div class="outer-w3-agile col-xl-6 display-block picture-block" style="height: 500px;">
                        <div class="picture-container">
                            <img src="test.jpg" id="upload-image" class="adaptiveImg">
                        </div>
                        <div class="upbutton-container row">
                            <a href="#" class="button-a picture-block-button"><span>选择文件</span>
                                <form action="/upImg" enctype="multipart/form-data" method="post">
                                    <input type="file" class="a-input" style="cursor: pointer;" id="imageSelect"
                                        onchange="fileSelect(this)">
                                </form>
                            </a>
                            <button class="picture-block-button upload-button" onclick="imgPost()">上传</button>
                        </div>
                    </div>
                    <!--// img-select -->
                    <!-- img-back -->
                    <div class="outer-w3-agile col-xl-6 display-block picture-block" style="height: 500px;">
                        <!-- <img src="Clannad-bg.jpg" id="receive-image"> -->
                        <div class="picture-container">
                            <img src="default_processed.png" id="download-image" class="adaptiveImg">
                        </div>
                        <button class="picture-block-button" onclick="postDownloadImage()" type="button">获取检测结果</button>
                    </div>
                    <!--// img-back -->
                </div>
            </div>
            <!-- Result-Table -->
            <div class="outer-w3-agile mt-3 display-block">
                <h4 class="tittle-w3-agileits mb-4">Result Table</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">
                                min-x
                                <br>
                            </th>
                            <th class="text-center">
                                max-x
                                <br>
                            </th>
                            <th class="text-center">
                                min-y
                                <br>
                            </th>
                            <th class="text-center">
                                max-y
                                <br>
                            </th>
                            <th class="text-center">
                                score
                                <br>
                            </th>
                            <th class="text-center">
                                class-name
                                <br>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th class="text-nowrap" scope="row">#1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--// Result-Table -->

            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center display-block">
                <p>Copyright &copy; 2022.No Bug No Code -- rxwooo.</p>
            </div>
            <!--// Copyright -->
        </div>
    </div>


    <!-- Required common Js -->
    <!--
        <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
    -->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <!-- //Required common Js -->

    <!-- loading-gif Js -->
    <script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>
    <script>
        //paste this code under head tag or in a seperate js file.
        // Wait for window load
        $(window).load(function () {
            // Animate loader off screen
            $(".se-pre-con").fadeOut("slow");;
        });
    </script>
    <!--// loading-gif Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->


    <!-- profile-widget-dropdown js-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!--// profile-widget-dropdown js-->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- //Js for bootstrap working -->

    <!-- Image upload-->
    <script>
        function fileSelect(obj) {
            var imgFile = obj.files[0];
            var fr = new FileReader();
            fr.onload = function () {
                document.getElementById('upload-image').src = fr.result;
            };
            fr.readAsDataURL(imgFile);
            document.getElementById("download-image").src = "default_processed.png";
        }


        function imgPost() {
            var fd = new FormData();
            var img = document.getElementById("imageSelect").files[0];
            fd.append("image", img);
            $.ajax({
                url: '/upImg',
                type: 'POST',
                cache: false,
                data: fd,
                processData: false,
                contentType: false,
                success: function (data) {
                    alert("upload success");
                },
                error: function (data) {
                    alert("upload failed");
                }
            })
        }
    </script>
    <!-- //Image upload-->

</body>

</html>